---
layout: landing
---
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>Computer Science 189</h2>
							<p> Machine Learning and Statistical Theory</p>
							<ul class="actions">
								<li><a href="#one" class="scrolly button ">Notes</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Check it Out</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>Lecture and Supplementary Notes</h2> <br />
								These notes were taken for UC Berkeley's CS189 (Machine Learning) class in the <i> Fall 2016</i> semester.  <br />
								<p>
								<b> Important! </b> These notes are provided <i> as- is</i>. I make no guarantees of accuracy, and may contain small errors from place to place. If you do find such an error, please let me know below.
								</p> 
							</header>
							
							<ul class="features">
								{% for post in site.posts  %}
								{% if post.layout == "notes" %}	
								{% if post.class == "cs189" %}
								<li class="icon fa-file-text">
									<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
									 <p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> </small></p>	
									<p>{{post.description}}</p>
								</li>		
									{% endif %}
								{% endif %}
						{% endfor %}
							</ul>
						</div>
					</section>

<section id="five" class="wrapper style4 special">
<div class="inner">
	<header class="major">
		<h2>Musings</h2>
		<p> I've written some articles on topics in machine learning that I find interesting (or things that came up while taking CS189). Check them out </p>
	</header>
	<ul class="features">
	{% for post in site.posts %}
		{% if post.layout == "post" %}	
			{% if post.class == "cs189" %}
		<li class="icon fa-file-text">
			<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
			 <p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> </small></p>	
			<p>{{post.description}}</p>
		</li>		
		{% endif %}
		{% endif %}

{% endfor %}	
		</ul>
		
		</div>
</section>

